<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>19517336279-qli49cbs8te66jjb5nhof5trurtdbf5u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.19517336279-qli49cbs8te66jjb5nhof5trurtdbf5u</string>
	<key>API_KEY</key>
	<string>AIzaSyDop_SGDRtMw--doNSITPtceH3CCfr3hVQ</string>
	<key>GCM_SENDER_ID</key>
	<string>19517336279</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chaterApp</string>
	<key>PROJECT_ID</key>
	<string>chatter-app-515cd</string>
	<key>STORAGE_BUCKET</key>
	<string>chatter-app-515cd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:19517336279:ios:0600a23078c9685cd85e92</string>
</dict>
</plist>